* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-url: url('./assets/bg-desk.png');
    --swich-bg-url: url('./assets/sun.svg');
    --switch-button-hover: rgba(197, 197, 197, 0.5);
    --switch-img-hover: rgba(197, 197, 197, 0.5);
    --social-links: white;
    --social-links-hover: rgba(197, 197, 197, 0.5);
    --animation-img:brightness(none) contrast(none);
    --social-links-bg: rgba(255, 255, 255, 0.363);
    --footer-link-color: white;
    --footer-color:white;
    --bg-url-mobile: url('./assets/bg-desk-mobile.png');
     
}

.dark{
    --bg-url: url('./assets/bg-desk-dark.png');
    --swich-bg-url: url('./assets/monstar.svg');
    --switch-button-hover: rgba(0, 0, 0, 0.5);
    --switch-img-hover: rgba(0, 0, 0, 0.5);
    --social-links: violet;
    --social-links-hover: rgba(0, 0, 0, 0.5);
    --animation-img:brightness(0.7) contrast(1.1);
    --social-links-bg: rgba(0, 0, 0, 0.5); 
    --footer-link-color: white;
    --footer-color: rgb(211, 211, 211); 
    --bg-url-mobile:url('./assets/bg-desk-dark-mobile.png');
  }

body {
    background: var(--bg-url) no-repeat top center;
    background-size: 100% auto;
    background-attachment: fixed;
    font-family: arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 40px 20px;
    transition: transform 0.5s ease-in-out;
}

@media (max-width: 768px) {
    body {
        display: flex;
        background-attachment: fixed;
        background-image: var(--bg-url-mobile);
        background-position: center top;
        background-size: 130% auto;
    }

}

header {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin-bottom: 5px;
    text-align: center;
    padding: 40px 0px 0px 0px;
  
}

.foto-perfil{
    width: 100%;
    max-width: 400px;
    display: block;
    transform: translateY(13%);
    border-radius: 50%;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.329);
    backdrop-filter: blur(1px);
    
    
}

@media (max-width: 768px) {
    .foto-perfil {
        max-width: 300px;   /* um pouco menor só no celular, pra não ficar apertado */
    }
}

h1{
    display: flex;
    box-align: center;
    background-color: rgba(255, 255, 255, 0.363);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    color: black;
    font-size: 50px;
    margin-bottom: 5px;
    padding: 5px;    
    text-align: center;
}

p{
    width: fit-content;
    background-color: rgba(15, 15, 15, 0.144);
    backdrop-filter: blur(10px);
    box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.253);
    color: white;   
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
}
@media (max-width: 768px){
    h1{
        font-size: 40px;
    }

    p{
        font-size: 15px;
    }
}

.switch {
    position: relative;
    width: 100px;
    height: 40px;
    background-color: #f7f7f71c;
    border: 1px solid #ffffff;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
}

#switchbutton {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    background: white var(--swich-bg-url) no-repeat center;
    background-size: 30px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    animation: slide-back 0.2s;
}

.dark #switchbutton{
    transform: translateY(-50%) translateX(50px);
    animation: slide-in 0.2s forwards;
}

#switchbutton:hover{
    outline: 5px solid var(--switch-button-hover);
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    max-width: 500px;
    width: 100%;
    padding: 30px 0 0 0;
    gap: 15px;
    
}
li{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

li img{
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    filter: var(--animation-img);
    transition: transform 0.3s ease;
}

ul li img:hover {
    outline: 3px solid var(--switch-img-hover);
    transform: scale(1.1);
    position: relative;
    z-index: 10;
}

@media (max-width: 768px){
    ul{
        max-width: 250px;
    }
}

#social-links{
    display: flex;
    padding: 20px 0 0 0;
    gap: 30px;

}

#social-links a{
    margin-top: 20%;
    font-size: 30px;
    justify-content: center;
    color: var(--social-links);
    background-color: var(--social-links-bg);
    background-size: 80px 20px;
    border-radius: 50%;
    display: inline-flex;
    
}

#social-links a:hover{
    border-radius: 20px;
    transform: scale(1.1);
    outline: 5px solid var(--social-links-hover);

}

footer{
    width: 100%;
    display: inline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: var(--footer-color);
    padding: 20px 0 0 0;
    text-align: center;
}

footer a {
    color: var(--footer-link-color);
    font-weight: 800;
    text-decoration: underline;
}